{
 :dev true
 :port 8080
 :nrepl-port 7000
 :graphql-schema "schema.graphqls"
 :graphql-path "/graphql"
 :db {:jdbc-url "jdbc:mariadb://localhost:3306/devops"
      :jdbc-driver "org.mariadb.jdbc.Driver"
      :username "hello"
      :password "secret"}
 }
